body {
    background-color: #111;
    font-family: sans-serif;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    margin: 1vw auto;
    border: 1vw solid #111;
    border-collapse: collapse; 
}

th {
    background-color: #11e;
    color: #eee;
    padding: 1vw;
    font-size: 3vw;
    border: 1vw solid #111;
    border-bottom: 2vw solid #111;
    width: 20%;
}

td {
    font-size: 4vw;
    background-color: #11e;
    color: #ee1;
    text-align: center;
    padding: 1vw;
    border: 1vw solid #111;
    cursor: pointer;
}

.question {
    display: flex;
    position: fixed;
    top: 2vw;
    left: 2vw;
    bottom: 2vw;
    right: 2vw;
    font-size: 8vw;
    
    
    background-color: #11e; 


    height: 90%;
    align-items: center;
    padding: 2vw;
}

.answers {
    position: fixed;
    top: 2vw;
    left: 2vw;
    bottom: 2vw;
    right: 2vw;
    


    background-color: blue;

    justify-content: center;
    display: flex;
    flex-direction: column;

}

.restart {
    position: absolute;
top: 0;
left: 0;
}

.score {
    color: white;
    position: absolute;
    bottom: 0;
    background-color: blue;
    
    border: solid 0.1vw black;
    padding: 0.5vw;
    font-size: 3vw;
}

.answers button {
    font-size: 3vw;
    display: block;
    margin: 4vw;
    padding: 0.5vw;
    background-color: white;
    border-radius: 1vw;
    border: solid 0.5vw grey;
}

.category p {
    font-weight: bold;
    font-size: 10vw;
}

.final {
    background: rgb(180,24,24);
    background: linear-gradient(180deg, rgba(180,24,24,1) 0%, rgba(0,0,255,1) 100%);
    font-size: 10vw;
    text-transform: uppercase;
}

.hidden {
    visibility: hidden;
}

.done {
    color: #11e;
}

p {
    text-align: center;
    color: #eee;
    flex: 1;
}

img {
    max-height: 40vw;
    max-width: 40vw;
    flex: 1;
    padding: 2vw;
}